@{
    ViewData["Title"] = "About Me Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-red">About Me</h1>
            <p class="lead">Hi, I'm Jack! I'm a developer...</p>
            <p class="text-muted">I started this blog as a personal challenge to build/host an application in AWS. I thought if I was going to do it, I might as well share what I learn along the way.</p> <p class="text-muted">This space will probably keep changing as I tinker with different coding projects. I’ll be experimenting, breaking things, and hopefully sharing some useful insights in the process.</p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="~/images/about/profile_pic.jpeg" alt="Your Name" class="img-fluid rounded-circle shadow-lg" style="max-width: 300px;">
        </div>
    </div>
</div>

<!-- Contact Section -->
<div class="container py-5">
    <h2 class="text-center mb-4 text-red">Let's Connect</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p class="lead">Feel free to reach out to me for any collaborations on the links below!</p>
            <div class="d-flex justify-content-center">
                <!-- LinkedIn Link -->
                <a href="https://uk.linkedin.com/in/jack-wren-a29455144" target="_blank" class="btn btn-linkedin ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/108px-LinkedIn_icon.svg.png?20210220164014" alt="LinkedIn" class="btn-icon">
                    LinkedIn
                </a>

                <!-- GitHub Link -->
                <a href="https://github.com/jackwren/" target="_blank" class="btn btn-github ms-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub" class="btn-icon">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</div>