@model JackOfAllCodes.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                JackOfAllCode - My Development Blog
            </h1>
            <p class="lead">
                Blog Example is a test website using ASP.NET. I have built this site as a test to view/edit blog examples.
            </p>
        </div>
    </div>
</div>
